
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="Joe Bloggs">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>An Error Has Occurred</h1>
		</header>
		<main>
			<h2>{{message}}</h2>
		</main>
	</body>
</html>
