
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	}

body {
	background: #f7f5f5;
	/*height: 1050px;*/
  min-height: calc(100vh - 53.76px);
  position: relative;
	
}

/* allows the footer to stay at bottom of page */
html {
	height: 100%
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
	height: 8px;
}

/* track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
 
/* handle */
::-webkit-scrollbar-thumb {
  background: #252525;
}

/* handle hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* formats the red message boxes */
aside {
	max-width: 400px;
	margin: auto;
	float: left;
}
.msg {
	position: fixed;
	top: 1vw;
	background: rgb(255 255 255 / 85%);
  backdrop-filter: saturate(180%) blur(5px);
	font-weight: bold;
	color: red;
	padding: 0.7em;
	border-radius: 0.3vw;
	z-index: 9999;
	margin-left: 44vw;
	animation: neon1 2s ease-in-out infinite alternate;
}

/* glowing neon effect for the log in and log out message */
@keyframes neon1 {
  from {
    box-shadow:  0 0 50px red, 0 0 40px red, 0 0 30px red, 0 0 20px red, 0 0 5px red;
  }
}


header {
	background: rgb(0 0 0 / 85%);
  backdrop-filter: saturate(180%) blur(5px);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
	height: 3.5vw;
	position: sticky;
	top: 0;
	z-index: 9998;
}

/* footer designed to stay at bottom of page */
footer {
	background: rgb(0 0 0 / 85%);
  backdrop-filter: saturate(180%) blur(5px);
	/*position: relative;*/
  width: 100%;
	/*bottom: 0;*/
	margin-top: auto;
}

footer p {
	text-align: center;
	color: white;
	font-size: 1vw;
  padding: 28px;
}

header p {
  float: right;
  margin-right: 1.5vw;
	margin-top: 1.1vw;
	color: white;
}

header h1 {
	color: white;
	margin-top: 0.3vw;
}

div h2 {
    margin: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #444;
	color: black;
}

h1 {
	float: left;
	font-size: 2.5vw;
}

h2 {
	font-size: 2.5vw;
	margin: 1vw;
	margin-left: 0.6vw;
}

h3 {
	font-size: 2vw;
	margin: 1vw;
	margin-left: 0.6vw;
}

h5, h6 {
	margin: 1vw;
	font-size: 1.5vw;
	color: black; /*added*/
}

header > a {
	margin-top: 0.6vw;
	margin-right: 3vw;
	float: right;
	font-size: 1.3vw;
}

/* overrides everything for logo to function, appear and position correctly*/
header > img {
	width: 5vw;
	float: left;
  margin-top: 0.5vw;
  margin-right: 1vw;
  margin-left: 2vw;
	box-shadow: none;
}

.logo {
	float: left;
	box-shadow: none;
	background-color: transparent;
  border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition-property: none;
}

/* logo shouldn't change when hovered over*/
.logo:hover {
	color: transparent;
	background-color: transparent;
	border: transparent;
}

.logo_img {
  width: 5vw;
  height: auto;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	margin-top: 0.5vw;
  margin-right: 0.7vw;
	margin-left: 2vw;
}

p, legend {
	font-size: 1.1vw;
}

.p_center {
	text-align: center;
}

main {
	color: white;
	max-width: 70vw;
	margin: auto;
	margin-top: 2em;
	padding: 2em;
	box-sizing: border-box;
	border-radius: 0.3vw;
	background: rgb(0 0 0 / 85%);
	backdrop-filter: saturate(180%) blur(5px);
	box-shadow: 1px 1px 50px -19px rgba(0,0,0,0.5);
}

.main_home {
	max-width: none;
	margin-bottom: 15em;
	background-color: transparent;
	backdrop-filter: none;
	box-shadow: none;
	margin-top: 0;
}

.main_addgame_back {
	width: 30.8%;
}

.main_log_reg_add {
	max-width: fit-content;
}

.main_reviewbox {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.reviewtextbox {
	margin-top: 1vw;
}

main > h1, h2, h3 {
    color: white;
}

main:last-of-type {
	margin-bottom: 15.8em;
}

/* formats the pictures to have the same width to look uniform*/
td img {
	width: 80%;
	border-radius: 0.5vw;
}

/* images scale up when hovered over*/
.click_img {
	transition-duration: 0.6s;
}

.click_img:hover {
	transform: scale(1.06);
}

img {
	width: 100%;
	border-radius: 0.3vw;
	vertical-align: middle;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

a img {
    object-fit: cover;
    width: 15vw;
    height: 25vw;
    margin: 1vw;
}

article {
	width: 50vw;
}

main a {
	color: white;
	/* game title will be hyperlinks, so text-decoration set as none will prevent automatic underlining */
	text-decoration: none;
}

main a:hover {
	color: red;
	text-decoration: none;
}

section {
	background-color: #DDD;
	width: 24vw;
	margin-top: 1vw;
	padding: 1vw;
	border-radius: 1vw;
}

section > p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5vw;
}

section > h3 {
	margin: 0;
	padding: 0;
	font-size: 1.8vw;
}

small {
	display: block;
	text-align: right;
}

/* ===== FORMS ===== */

fieldset {
	position: relative;
	width: 25vw;
	border: 1px solid #CCC;
	padding-top: 4vw;
}

legend {
	position:absolute;
  top:0;
	left:0;
	width: 25.5vw;
	background-color: #ccc;
	border-bottom: 5px solid grey;
	padding: 0.6vw;
}

.button_add-edit {
	background-color: #c10000;
  border: 2px solid #c10000;
  color: white;
  padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1vw;
	cursor: pointer;
	transition-property: color, background-color, border;
	transition-duration: 0.4s;
	border-radius: 0.3vw;
	position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1vw;
  margin-right: 2vw;
	z-index: 1;
	font-weight: bold;
}

.button_add-edit:hover {
  background-color: red;
	border: 2px solid red;
  color: white;
}

.button {
	background-color: #c10000;
  border: 2px solid #c10000;
  color: white;
  padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1vw;
	cursor: pointer;
	transition-property: color, background-color, border;
	transition-duration: 0.4s;
	border-radius: 0.3vw;
	width: 100%;
	font-weight: bold;
	width: -webkit-fill-available;
}

.button:hover {
  background-color: red;
	border: 2px solid red;
  color: white;
}

.button_file {
	background-color: #c10000;
  border: 2px solid #c10000;
  color: white;
  padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1vw;
	cursor: pointer;
	transition-property: color, background-color, border;
	transition-duration: 0.4s;
	border-radius: 0.3vw;
	font-weight: bold;
	width: -webkit-fill-available;
}

.button_file:hover {
	background-color: red;
	border: 2px solid red;
  color: white;
}

.bold {
	font-weight: bold;
	color: red;
}

.bold_white {
	font-weight: bold;
	color: white;
}

.horizontal-scroll {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.item {
  display: inline-block;
  white-space: normal;
  text-align: center;
  align-items: center;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 1px 1px 50px -8px rgba(0,0,0,0.5);
  border-radius: 0.3vw;
	background: rgb(0 0 0 / 85%);
}

.parent {
	display: inline-block;
	margin: 3vw;
}

.d1 {}
.d2 { padding-right: 15px;
    	padding-left: 15px;
}

.grid-container {
	display: grid;
	grid-template-columns: 0.7fr 1fr 0.7fr;
	grid-template-rows: 1fr;
	grid-column-gap: 24px; /*added*/
}

.grid-container_2 {
	display: grid;
	grid-template-columns: 1fr 0.15fr;
	grid-template-rows: 1fr;
	grid-column-gap: 24px; /*added*/
	margin: 1vw;
	border-top: 1.5px solid white;
	justify-content: center;
  align-items: center;
}

.grid-container_3 {
	display: grid;
	grid-template-columns: 1fr repeat(2, 0.15fr);
	grid-template-rows: 1fr;
	grid-column-gap: 24px; /*added*/
	margin: 1vw;
	border-top: 1.5px solid white;
	justify-content: center;
  align-items: center;
}


.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3;
	border-right: 1px solid white;
	line-height: 1.5;
}

.pText {
	margin-right: 10px;
}

.div2_2 { grid-area 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

/* textarea placeholder font styling*/
textarea::placeholder {
	font-family: Arial;
}


input[type="submit"], header > a, .custom-file-upload {
  background-color: #c10000;
  border: 2px solid #c10000;
  color: white;
	padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 1.1vw;
	border-radius: 0.3vw;
	transition-property: color, background-color, border;
	transition-duration: 0.4s;
	cursor: pointer;
	font-weight: bold;
}

input[type="submit"]:hover, header > a:hover, .custom-file-upload:hover {
  background-color: red;
	border: 2px solid red;
  color: white;
	
}

/* added type="number" so width and padding can match the style of the text inputs */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select {
	font-size: 1vw;
	width: 25vw;
	border: 1px solid #CCC;
	padding: 0.5vw;
	/* margin-bottom: 1vw; */
	border-radius: 0.3vw;
}

/* fills the review box to widest width of main*/
textarea {
	height: 10vw;
	resize: none;
	width: -webkit-fill-available;
	font-family: arial;
}

.textarea_editreview {
	width: 25vw;
}

/* turns the border of the textarea red if invalid
 * and darkgreen once valid */

input:required, textarea:required {
	border-width: 2px;
}

input:invalid, textarea:invalid {
	border-color: red;
}

/* section commented out due to it being redundant for functionality */
/*input:valid, textarea:valid {
	border-color: darkgreen;
}*/

select {
	width: 26.3vw;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

form > br {
	line-height: 3vw;
}

dl {
  width: 35vw;
  overflow: hidden;
  /* background: #ff0; */
  padding: 0;
	margin: 0;
	font-size: 1.5vw;
}
dt {
  float: left;
  width: 10.5vw;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #cc0; */
  padding: 0.5vw;
  margin: 0
}
dd {
  float: left;
  width: 21vw;
  /* adjust the width; make sure the total of both is 100% */
	/* background: #dd0; */
	padding: 0.5vw;
  margin: 0
}

/* ===== TABLES ===== */

table {
	/* border: 1px solid grey; */
	border-collapse: collapse;
	background-color: white;
}

/* aligns text inside table cells in the center*/
td {
	text-align: center;
	border-bottom: 2px black;
}

td, th {
	padding: 0.5vw;
	font-size: 1vw;
	width: 25vw;
}

td:last-child, th:last-child {
	width: 10vw;
}
